doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Crud Operations
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
  body.bg-white
    .container
      .row
        .col-12.mt-4
          h3.text-dark.text-center CRUD OPERATIONS
        .col-6.mt-3.offset-3
          a.btn.btn-success.btn-block(href='/addanentry' role='button') Add an entry
        .col-6.offset-3.mt-1.bg-white.p-2.rounded
          table.table.bg-light.border.border-dark
            thead
              tr
                th(scope='col') Name
                th(scope='col') Age
                th(scope='col').text-center Actions
            tbody

              each item in model
                tr
                  td=item.name
                  td=item.age
                  td
                    .row
                      .col-6
                        a.btn.btn-warning.btn-block(href='/edit/'+item._id role='button') Edit
                      .col-6  
                        a.btn.btn-warning.btn-block(href='/delete'+item._id role='button') Delete
